<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <section class="wrapper">
      <header>
        <nav>
          <div class="main-web-logo">incore.</div>
        </nav>
      </header>
      <main>
        <div class="links">
          <a href="#" class="link">instagram</a>
          <a href="#" class="link">facebook</a>
          <a href="#" class="link">twitter</a>
        </div>
        <div class="left-half">
          <h1>Lets Make Your Interior Better</h1>
        </div>
        <div class="right-half"></div>
      </main>
      <section class="secondpage">
        <div class="h2img"></div>
        <div class="h2heading">
          Make interior spaces <span>functional</span>, <span>safe</span> and
          <span>beautiful</span> for almost every type of building.
        </div>
      </section>
      <section class="thirdpage">
        <div class="centerimg"></div>
        <div class="featurebox fb1">
          <div class="fno"><span>1</span></div>
          <div class="ftitle">Design with perfection</div>
        </div>
        <div class="featurebox fb2">
          <div class="fno"><span>2</span></div>
          <div class="ftitle">Best Client Support</div>
        </div>
        <div class="featurebox fb3">
          <div class="fno"><span>3</span></div>
          <div class="ftitle">Professional Architect</div>
        </div>
      </section>
    </section>
  </body>
</html>
